*,
html {
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: auto;
}
.calendar__title {
    text-align: center;
}
.calendar__wrapper {
    display: flex;
    justify-content: center;
    column-gap: 40px;
    align-items: center;
}
.calendar__calendar {
    margin: auto;
}
.calendar__item:last-child {
    flex-basis: 49%;
}
.calendar__dayDesc {
    border: 1px solid #bababb;
    border-radius: 10px;
}
.calendar__descItem {
    box-sizing: border-box;
    position: relative;
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid #bababa;
}
.calendar__change {
    position: absolute;
    right: 80px;
    top: 10px;
}
.calendar__descTitle {
    margin: 0;
    color: #34bdc7;
    font-size: 24px;
    line-height: 21px;
    margin-bottom: 10px;
}
.calendar__desc {
    font-size: 18px;
    display: block;
}
.calendar__delete {
    position: absolute;
    right: 10px;
    top: 10px;
}
.calendar__calendarWrapper--disable {
    display: none;
}
.calendar__emptyList {
    display: block;
    width: 100%;
    padding: 20px;
    text-align: center;
}
.calendar__descItem:last-child {
    border-bottom: none;
}
.calendar__add {
    margin: auto;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    margin-top: 10px;
}
.form__Wrapper {
    display: flex;
    flex-direction: column;
}
.calendar__form {
    max-width: 300px;
    width: 100%;
}
.form__inutItem {
    width: 100%;
    margin-bottom: 10px;
}
.form__inputTitlte {
    display: block;
    margin-bottom: 10px;
}
.form__inutItem:last-child {
    margin-bottom: 0;
}
.form__type {
    width: 100%;
    padding: 10px;
}
.form__input {
    width: 100%;
    padding: 10px;
}

.form__buttonWrapp {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
